  <header class="moj-header moj-header--docs" role="banner">
    <div class="moj-header__container">
      <div class="moj-header__logo">

        <a class="moj-header__link" href="/">
          <span class="moj-header__link--organisation-name">Defra</span>
          <span class="moj-header__link--organisation-initials">Defra</span>
          <span class="moj-header__link--service-name">FCP Grants Pattern Library</span>
        </a>
      </div>

      <moj-menu-toggle menu="#sidebar" breakpoint="800">
        <button aria-controls="sidebar" aria-expanded="false">
          <svg width="15" height="9" viewBox="0 0 15 9" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.79289 5.98223L13.5858 0.189339L15 1.60355L7.79289 8.81066L0.585787 1.60355L2 0.189338L7.79289 5.98223Z" fill="currentColor"></path>
          </svg>
          <span>Menu</span>
        </button>
      </moj-menu-toggle>
    </div>
  </header>