{% extends "layouts/main.html" %}

{% block content %}

<div class="app-masthead">
  <div class="app-page__width-container">

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <p class="govuk-body">Use the FCP Grants Pattern Library alongside the <a href="https://design-system.service.gov.uk/" class="govuk-link govuk-link--inverse" target="_blank">GOV.UK Design System</a>.</p>

    <p class="govuk-body">The FCP Grants Pattern Library enables teams working on the farming grants platform - both external facing journeys and internal case working process - to avoid repetition by learning from previous work and research.</p>

  </div>
</div>

{% endblock %}
