{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <p class="govuk-body">Use the FCP Grants Pattern Library alongside the GOV.UK Design System.</p>

    <p class="govuk-body">The FCP Grants Pattern Library enables teams working on the farming grants platform - both external facing journeys and internal case working process - to avoid repetition by learning from previous work and research.</p>

  </div>
</div>

{% endblock %}
