{% extends "layouts/main.html" %}

{% block content %}

<div class="app-masthead">
  <div class="app-page__width-container">

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <p class="govuk-body">Use the FCP Grants Pattern Library alongside the <a href="https://design-system.service.gov.uk/" class="govuk-link govuk-link--inverse" target="_blank">GOV.UK Design System</a>.</p>

    <p class="govuk-body">The FCP Grants Pattern Library enables teams working on the farming grants platform - both external facing journeys and internal case working process - to avoid repetition by learning from previous work and research.</p>

  </div>
</div>

<div class="app-page__width-container">
  
    <p class="govuk-body">
      {{ govukTag({
        text: "Work in progress",
        classes: "govuk-tag--red"
      }) }}
    </p>

    <p class="govuk-body">The pattern library is currently under development and as such, things will most likely not work or be broken. This content will be updated as things progress (perhaps in the form of a change log 🤔).</p>
</div>

{% endblock %}
